.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Thêm hiệu ứng hình nền cây thông */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('./assets/tree.png');


  background-repeat: no-repeat;
  background-position: 135% bottom; 
  background-size: contain; /* Hiển thị toàn bộ cây thông, hoặc dùng 'cover' để phủ kín */
  
  
  opacity: 0.75; 
  z-index: 0; 
  pointer-events: none; 
  
  
  filter: drop-shadow(0 0 10px rgba(242, 234, 187, 0.5));
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url('./assets/tree.png');


  background-repeat: no-repeat;
  background-position: -35% bottom; 
  background-size: contain; /* Hiển thị toàn bộ cây thông, hoặc dùng 'cover' để phủ kín */
  
  
  opacity: 0.75; 
  z-index: 0; 
  pointer-events: none; 
  
  
  filter: drop-shadow(0 0 10px rgba(242, 234, 187, 0.5));
}