.reindeer-wrapper {
  position: fixed;
  top: 80px;  
  bottom: auto;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 999; 
  pointer-events: none; 
}

.reindeer-running {
  position: absolute;
  width: 500px; 
  height: auto;
  left: -600px; 

  animation: runAcross 10s linear infinite;
}

@keyframes runAcross {
  0% {
    left: 100vw;
    transform: scaleX(1); 
  }
  60% {
    left: -600px;
  }
  100% {
    left: -600px;
    }
}
